.about-image {
    min-height: 80vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../img/gal-3.jpg") center/cover fixed no-repeat;
  }
  
  .about-text {
    min-height: 80vh;
    display: flex;
    align-items: center;
    background: var(--color-primary);
    color: var(--text-color);
    padding: 40px 0;
  }
  
  .about-text-center {
    width: 90%;
    margin: 0 auto;
  }
  
  .about-text h2 {
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  
  .about-text-underline {
    width: 200px;
    height: 5px;
    background: var(--color-secondary);
  }
  
  .about-text p {
    margin: 20px 0;
    line-height: 1.1;
    font-style: italic;
  }
  
  
  .about-text a {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color-secondary);
    padding: 8px 24px;
    border: 3px solid var(--color-secondary);
    transition: all 0.5s ease-in-out;
    border-radius: 6px;
  }
  
  .about-text a:hover {
    color: var(--bg-color);
    background: var(--color-secondary);
    border-color: var(--color-secondary);
  }
  
  @media screen and (min-width:776px) {
    .about {
      display: flex;
    }
    .about-text {
      flex: 0 0 30%;
  
    }
    .about-image {
      flex: 0 0 70%;
      clip-path: polygon(0 0, 100% 0, 70% 100%, 0 100%)
    }
    .about {
      background: var(--color-primary);
    }
  }