.projects {
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "item1 item1 item2 item3 item3" "item1 item1 item4 item5 item5" "item6 item7 item7 item5 item5" "item6 item8 item9 item9 item10"
  }
  
  .project-1 {
    grid-area: item1;
    background: url("../img/gal-main.jpg")center/cover no-repeat;
  }
  
  .project-2 {
    grid-area: item2;
    background: url("../img/paralex-efect.jfif")center/cover no-repeat;
  }
  
  .project-3 {
    grid-area: item3;
    background: url("../img/gal-10.jpg")center/cover no-repeat;
  }
  
  .project-4 {
    grid-area: item4;
    background: url(../img/gal-4.jpg)center/cover no-repeat;
  }
  
  .project-5 {
    grid-area: item5;
    background: url("../img/gal-5.jpg")center/cover no-repeat;
  }
  
  .project-6 {
    grid-area: item6;
    background: url("../img/gal-9.jpg")center/cover  no-repeat;
  }
  
  .project-7 {
    grid-area: item7;
    background: url(../img/gal-7.jfif)center/cover fixed no-repeat;
  }
  
  .project-8 {
    grid-area: item8;
    background: url("../img/gal-8.jfif")center/cover no-repeat;
  }
  
  .project-9 {
    grid-area: item9;
    background: url('../img/numbers-bcg.jpeg')center/cover no-repeat;
  }
  
  .project-10 {
    grid-area: item10;
    background: url('../img/desktop.jfif')center/cover no-repeat;
  }
  
  .project {
    transition: all 0.3s ease-in-out;
  }
  
  .project:hover {
    opacity: 0.7;
    filter: brightness(70%);
    cursor: pointer;
  }